body {
    margin: 0;
    padding: 0;
}

::placeholder {
    color: red;
}

body ul {
    margin: 0;
    padding: 0;
}

body ul li {
    list-style: none;
}

body #box {
    width: 500px;
    height: 400px;
    background-color: cadetblue;
    background: url('../img/1.jpg');
}