<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" :value='msg' name="" id="">
    </div>
    <!---v-model 双向数据绑定的体现--->
    <div id="app1">
        <input type="text" v-model='msgs' name="" id="">
        <h3>{{msgs}}</h3>
    </div>

    <div id="app2">
        <input type="text" v-model='age'>
    </div>
</body>
<script>
    var vue1 = new Vue({
        el: '#app',
        data() {
            return {
                msg: '呜呜呜'
            }
        }
    })
    var vue2 = new Vue({
        el: '#app1',
        data() {
            return {
                msgs: '呜呜呜'
            }
        }
    });
    new Vue({
        el: '#app2',
        data: {
            age: "21Y"
        }
    })
</script>

</html>